<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/operations.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtraction</title>
</head>

<body>
    <div class="form-section">
        <h1>Subtraction Form</h1>
        <form action="/subtraction-form" method="post">
            <div class="a">
                <label for="a">a : </label>
                <input type="number" id="a" name="a" placeholder="Enter a value">
            </div>
            <div class="b">
                <label for="b">b : </label>
                <input type="number" id="b" name="b" placeholder="Enter b value">
            </div>
            <input id="submit" type="submit">
        </form>
    </div>
</body>

</html>