<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<style>
    body{
        background-color: deepskyblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8%;
    }
    button a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    button{
        padding: 5px;
        border: 0.5px solid gray;
        border-radius: 3px;
    }
</style>
<body>
    <h1> Welcome ...</h1>
    <button><a href="/Login">Login</a></button>
</body>
</html>